server {
    listen 80;
    server_name localhost;
    root D:/phpstudy_pro/WWW/EduManage;
    index index.php index.html;

    location = / {
        return 302 /login/;
    }

    location = /login {
        return 302 /login/;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass 127.0.0.1:9000;
    }
}
